In [14]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/Sist. Recomendacion de Peliculas - Machine Learning/df_ML_SistRecomendacion.csv')

/var/folders/9h/wktndydj5rg6pj7yfx6ws1gm0000gn/T/ipykernel_17818/829602107.py:1: DtypeWarning: Columns (0,1,4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/Sist. Recomendacion de Peliculas - Machine Learning/df_ML_SistRecomendacion.csv')

In [4]:


#Obtener las primeras 1000 filas del DataFrame
df_sistema_recomendacion_artista = df.head(10000)

#Definir el nombre del archivo CSV
archivo_csv = 'df_sistema_recomendacion_artistas.csv'

In [17]:
df_sistema_recomendacion_artista.to_csv('df_sistema_recomendacion_artistas.csv', index=False)

In [5]:
df.head()

,genero,id_genres,id_peliculas,Actor,title,popularity
0,'Comedy' 'Crime',"'35,80'",862,Tom Hanks,Toy Story,21.946943
1,'Comedy' 'Drama',"'35,18'",862,Tim Allen,Jumanji,17.015539
2,'Comedy' 'Science Fiction',"'35,878'",862,Don Rickles,Grumpier Old Men,11.712900
3,'Drama' 'War',"'18,10752'",862,Jim Varney,Waiting to Exhale,3.859495
4,'Drama','18',862,Wallace Shawn,Father of the Bride Part II,8.387519

In [6]:
df.shape

(564892, 6)

In [7]:
df_sistema_recomendacion_artista.shape

(10000, 6)

In [12]:
resultado_filtrado = df_sistema_recomendacion_artista[df_sistema_recomendacion_artista['Actor'] == 'Robin Williams']
resultado_filtrado

,genero,id_genres,id_peliculas,Actor,title,popularity
13,'Action' 'Adventure' 'Thriller',"'28,12,53'",8844,Robin Williams,Dracula: Dead and Loving It,5.430331
2287,'Crime' 'Comedy' 'Action',"'80,35,28'",11000,Robin Williams,Cousin Bette,1.304145
3080,'Action' 'Comedy',"'28,35'",11472,Robin Williams,The Matrix,33.366332
3371,'Fantasy' 'Documentary' 'Drama',"'14,99,18'",9090,Robin Williams,National Lampoon’s European Vacation,11.457485
6827,'Western' 'Drama' 'Horror',"'37,18,27'",46924,Robin Williams,Satin Rouge,0.669752
8276,'Comedy' 'Drama',"'35,18'",788,Robin Williams,All the Little Animals,1.745282
9771,'Documentary' 'Comedy',"'99,35'",812,Robin Williams,Used People,1.345197

In [11]:
resultado_filtrado = df[df['Actor'] == 'Robin Williams']
resultado_filtrado

,genero,id_genres,id_peliculas,Actor,title,popularity
13,'Action' 'Adventure' 'Thriller',"'28,12,53'",8844,Robin Williams,Dracula: Dead and Loving It,5.430331
2287,'Crime' 'Comedy' 'Action',"'80,35,28'",11000,Robin Williams,Cousin Bette,1.304145
3080,'Action' 'Comedy',"'28,35'",11472,Robin Williams,The Matrix,33.366332
3371,'Fantasy' 'Documentary' 'Drama',"'14,99,18'",9090,Robin Williams,National Lampoon’s European Vacation,11.457485
6827,'Western' 'Drama' 'Horror',"'37,18,27'",46924,Robin Williams,Satin Rouge,0.669752
...,...,...,...,...,...,...
424872,NaN,NaN,36952,Robin Williams,NaN,NaN
431395,NaN,NaN,259963,Robin Williams,NaN,NaN
547022,NaN,NaN,21586,Robin Williams,NaN,NaN
548375,NaN,NaN,27631,Robin Williams,NaN,NaN
548533,NaN,NaN,20211,Robin Williams,NaN,NaN