In [1]:
# Empiezo importando las librerias que usar en el projecto

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

In [2]:
# creo un DataFrame en pandas(pd) a partir de los datos contenidos en m_iso_spoken_languages.csv
pd.set_option('display.max_colwidth', None) # quiero ver los valores completos.
df = pd.read_csv("/Users/benjaminzelaya/Desktop/carpeta/Proyecto_ML_Individual/ETL - EDA/datasets reestructurados para empezar ETL/data Reestructurados/m_iso_spoken_languages.csv")

# Imprimo los primeros registros del DataFrame
df.head()

,spoken_languages,id
0,"[{'iso_639_1': 'en', 'name': 'English'}]",862
1,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso_639_1': 'fr', 'name': 'Français'}]",8844
2,"[{'iso_639_1': 'en', 'name': 'English'}]",15602
3,"[{'iso_639_1': 'en', 'name': 'English'}]",31357
4,"[{'iso_639_1': 'en', 'name': 'English'}]",11862

In [3]:
# los valores faltantes (NaN) vamos a convertir convirtiéndolos en una lista vacía
df['spoken_languages'] = df['spoken_languages'].fillna('[]')

In [4]:
# Los datos de cadena en listas de diccionarios los vamos a convertir utilizando 'eval()'.
import ast

df['spoken_languages'] = df['spoken_languages'].apply(ast.literal_eval)

In [5]:
# utilizaremos función explode que me permite  expandir la lista  en filas separadas
df_exploded = df.explode('spoken_languages', ignore_index=True)

In [6]:
# Extraer los nombres e ids de spoken Lenguages en columnas separadas
df_exploded['Cod_languages'] = df_exploded['spoken_languages'].apply(lambda x: x.get('iso_639_1', '') if isinstance(x, dict) else '')
df_exploded['name_languages'] = df_exploded['spoken_languages'].apply(lambda x: x.get('name', '') if isinstance(x, dict) else '')

In [7]:
# # Unimos los valores desanidados  con el DataFrame 
df = df.join(df_exploded[['Cod_languages', 'name_languages']])

In [8]:
df[['Cod_languages', 'name_languages']].head()

  Cod_languages name_languages
0            en        English
1            en        English
2            fr       Français
3            en        English
4            en        English

In [9]:
columna_eliminada = ['spoken_languages','id']
df.drop(columns=columna_eliminada, inplace=True)
# Elimino la columna spoken_languages porque sus datos ya fueron extraidos en columnas diferentes y mas ordenados.

In [10]:
df.head()

  Cod_languages name_languages
0            en        English
1            en        English
2            fr       Français
3            en        English
4            en        English

In [11]:
movie_data_1 = df

# Creo el dataframe con las columnas indicadas guardando el mismo dentro la carpeta ETL/EDA del reposotorio
movie_data_1.to_csv("m_lenguages_modificado.csv", index=False)