# Proceso de Transformacion de columnas 

Desanidar Columna belongs_to_collection

In [13]:
# Empiezo importando las librerias que usar en el projecto

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import json

In [22]:
# creo un DataFrame en pandas(pd) a partir de los datos contenidos en m__bellongs_to_collections.csv
pd.set_option('display.max_colwidth', None) # quiero ver los valores completos.
df = pd.read_csv("/Users/benjaminzelaya/Desktop/carpeta/Proyecto_ML_Individual/ETL - EDA/datasets reestructurados para empezar ETL/data Reestructurados/m__bellongs_to_collections.csv")
# Imprimo los primeros registros del DataFrame
df.head()

,belongs_to_collection,id
0,"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}",862
1,NaN,8844
2,"{'id': 119050, 'name': 'Grumpy Old Men Collection', 'poster_path': '/nLvUdqgPgm3F85NMCii9gVFUcet.jpg', 'backdrop_path': '/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg'}",15602
3,NaN,31357
4,"{'id': 96871, 'name': 'Father of the Bride Collection', 'poster_path': '/nts4iOmNnq7GNicycMJ9pSAn204.jpg', 'backdrop_path': '/7qwE57OVZmMJChBpLEbJEmzUydk.jpg'}",11862

In [23]:
df["belongs_to_collection"].info()
# verifico que la columna tan solo tiene 4494 valores no nulos , cuando el total de entradas del dataframe es de 45466.

<class 'pandas.core.series.Series'>
RangeIndex: 45466 entries, 0 to 45465
Series name: belongs_to_collection
Non-Null Count  Dtype
--------------  -----
4494 non-null   object
dtypes: object(1)
memory usage: 355.3+ KB

In [24]:
# los valores faltantes  vamos a convertir  en una lista vacía
df['belongs_to_collection'] = df['belongs_to_collection'].fillna('[]')

In [25]:
#creo una funcion que llamare belongs_transform donde intenta obtener el valor de una clave específica dentro de un diccionario proporcionado como argumento. 
#Si el diccionario es nulo, no es un diccionario válido o la clave no existe, la función devuelve None. 

def belongs_transform(dicc, key):
    if not isinstance(dicc, dict):
        try:
            dicc = json.loads(dicc.replace("'", "\""))
        except (json.JSONDecodeError, AttributeError):
            return None

    if isinstance(dicc, dict):
        return dicc.get(key)
    else:
        return None

In [26]:
# Al ejecutar la funcion creada ahora aplico la función a la columna "belongs_to_collection" de nuestro dataframe.

df['id_bellongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: belongs_transform(x, 'id'))
df['name_bellongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: belongs_transform(x, 'name'))
df['poster_bellongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: belongs_transform(x, 'poster_path'))
df['backdrop_bellongs_to_collection'] = df['belongs_to_collection'].apply(lambda x: belongs_transform(x, 'backdrop_path'))

In [27]:
# Verifico los resultados obtenidos de la columna desanidada
df[['id_bellongs_to_collection', 'name_bellongs_to_collection', 'poster_bellongs_to_collection', 'backdrop_bellongs_to_collection']]

,id_bellongs_to_collection,name_bellongs_to_collection,poster_bellongs_to_collection,backdrop_bellongs_to_collection
0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,NaN,None,None,None
2,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,NaN,None,None,None
4,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg
...,...,...,...,...
45461,NaN,None,None,None
45462,NaN,None,None,None
45463,NaN,None,None,None
45464,NaN,None,None,None
45465,NaN,None,None,None

In [28]:
columna_eliminada = ['belongs_to_collection','id']
df.drop(columns=columna_eliminada, inplace=True)
# Elimino las columna belongs_to_collection y id

In [29]:
df.head()

,id_bellongs_to_collection,name_bellongs_to_collection,poster_bellongs_to_collection,backdrop_bellongs_to_collection
0,10194.0,Toy Story Collection,/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg,/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg
1,NaN,None,None,None
2,119050.0,Grumpy Old Men Collection,/nLvUdqgPgm3F85NMCii9gVFUcet.jpg,/hypTnLot2z8wpFS7qwsQHW1uV8u.jpg
3,NaN,None,None,None
4,96871.0,Father of the Bride Collection,/nts4iOmNnq7GNicycMJ9pSAn204.jpg,/7qwE57OVZmMJChBpLEbJEmzUydk.jpg

In [30]:
movie_data = df

# Creo el dataframe con las columnas indicadas guardando el mismo dentro la carpeta ETL/EDA del reposotorio
movie_data.to_csv("bellongs_to_collections_modificado.csv", index=False)