In [1]:

import pandas as pd
import numpy as np

In [2]:
datasets_df = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/movies_data_final.csv')
crew_df = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/crew.csv')
cast_df = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/cast.csv')
movie_genres_df = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/genres_groupby.csv')
ML_data = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/ML_data.csv')

In [3]:
ML_data.columns

Index(['id', 'title', 'genero', 'popularity'], dtype='object')

In [4]:
datasets_df.columns

Index(['id', 'original_language', 'overview', 'popularity', 'release_date',
       'runtime', 'status', 'tagline', 'title', 'vote_average', 'vote_count',
       'id_bellongs_to_collection', 'name_bellongs_to_collection',
       'poster_bellongs_to_collection', 'backdrop_bellongs_to_collection',
       'Cod_languages', 'name_languages', 'name_genres', 'id_genres',
       'name_companies', 'id_companies', 'Cod_countries', 'country_name',
       'budget', 'revenue', 'release_year', 'return'],
      dtype='object')

In [5]:
# Armo el data que usare para la funcion:

df_Paises = pd.DataFrame(datasets_df, columns=['id', 'title','country_name'])

In [6]:
df_Paises.head(5)

      id                        title              country_name
0    862                    Toy Story  United States of America
1   8844                      Jumanji  United States of America
2  15602             Grumpier Old Men  United States of America
3  31357            Waiting to Exhale  United States of America
4  11862  Father of the Bride Part II  United States of America

In [7]:
# Guardar el DataFrame en un archivo CSV
paises = 'df_paises_Def.csv'
df_Paises.to_csv(paises, index=False)

print(f"El DataFrame ha sido guardado en el archivo '{paises}'")

El DataFrame ha sido guardado en el archivo 'df_paises_Def.csv'

In [15]:
def peliculas_pais(Pais: str):
    pais_lower = Pais.lower()

    # Llenare los valores NaN que tiene la columna con una cadena vacía
    df_Paises['country_name'] = df_Paises['country_name'].fillna('')

    # filas correspondientes al país
    peliculas_pais = df_Paises[df_Paises['country_name'].str.lower().str.contains(pais_lower)]

    # cantidad de películas producidas en el país
    cantidad_peliculas = len(peliculas_pais)

    resultado_paises = f" En {Pais} se produjeron {cantidad_peliculas} películas"
    return resultado_paises

In [16]:
# Paises

df_Paises['country_name'].unique().tolist()

['United States of America',
 'Germany',
 'United Kingdom',
 'France',
 'Italy',
 'Spain',
 'China',
 'Australia',
 'South Africa',
 'Canada',
 '',
 'Switzerland',
 'Belgium',
 'Japan',
 'Iran',
 'Netherlands',
 'Hong Kong',
 'Tunisia',
 'Ireland',
 'Dominican Republic',
 'Croatia',
 'Russia',
 'Macedonia',
 'Austria',
 'Taiwan',
 'New Zealand',
 'Mexico',
 'Poland',
 'Peru',
 'Cuba',
 'Liechtenstein',
 'Denmark',
 'Portugal',
 'Finland',
 'Sweden',
 'Argentina',
 'Iceland',
 'South Korea',
 'Serbia',
 'Hungary',
 'Czech Republic',
 'India',
 'Brazil',
 'Greece',
 'Congo',
 'Senegal',
 'Burkina Faso',
 'Romania',
 'Philippines',
 'Vietnam',
 'Trinidad and Tobago',
 'Bulgaria',
 'Chile',
 'Norway',
 'Kazakhstan',
 'Algeria',
 'Luxembourg',
 'Georgia',
 'Ukraine',
 'Botswana',
 'Aruba',
 'Israel',
 'Turkey',
 'Ecuador',
 'Lebanon',
 'Morocco',
 'Bosnia and Herzegovina',
 'Bahamas',
 'Malaysia',
 'Bhutan',
 'Jamaica',
 'Pakistan',
 'Nepal',
 "Cote D'Ivoire",
 'Thailand',
 'Namibia',
 'Cameroon',
 'Colombia',
 'Czechoslovakia',
 'Uruguay',
 'Slovenia',
 'Libyan Arab Jamahiriya',
 'Puerto Rico',
 'Soviet Union',
 'East Germany',
 'Singapore',
 'Afghanistan',
 'Malta',
 'Panama',
 'Egypt',
 'Zimbabwe',
 'Tajikistan',
 'Uzbekistan',
 'Costa Rica',
 'Kuwait',
 'Martinique',
 'Ghana',
 'Armenia',
 'Indonesia',
 'Mongolia',
 'Bolivia',
 'Monaco',
 'Iraq',
 'Slovakia',
 'Serbia and Montenegro',
 'Venezuela',
 'Lithuania',
 'Rwanda',
 'Palestinian Territory',
 'Chad',
 'Paraguay',
 'Qatar',
 'Estonia',
 'Macao',
 'Mali',
 'United States Minor Outlying Islands',
 'Latvia',
 'United Arab Emirates',
 'Azerbaijan',
 'Cayman Islands',
 'Nicaragua',
 'Liberia',
 'Yugoslavia',
 'Montenegro',
 'Angola',
 'Belarus',
 'Cambodia',
 'Mauritania',
 'Cyprus',
 'Bangladesh',
 'Syrian Arab Republic',
 'Kyrgyz Republic',
 'Albania',
 'Tanzania',
 'North Korea',
 'Kenya',
 'Jordan',
 'Uganda',
 'Saudi Arabia',
 'Somalia',
 'Guatemala',
 'Madagascar',
 'Ethiopia',
 'Sri Lanka',
 'Papua New Guinea',
 'Nigeria',
 "Lao People's Democratic Republic",
 'French Polynesia',
 'Netherlands Antilles',
 'Myanmar',
 'Bermuda',
 'El Salvador',
 'French Southern Territories',
 'Samoa',
 'Moldova',
 'Barbados',
 'Antarctica',
 'Gibraltar',
 'Brunei Darussalam',
 'Honduras',
 'Guinea']

In [19]:
# EJEMPLO DE USO DE LA DEF

pais_nombre = 'Argentina'
resultado = peliculas_pais(pais_nombre)
print(resultado)

 En Spain se produjeron 964 películas

In [20]:
# EJEMPLO DE USO DE LA DEF

pais_nombre = 'Spain'
resultado = peliculas_pais(pais_nombre)
print(resultado)

 En Spain se produjeron 964 películas