In [1]:
import pandas as pd
import numpy as np

In [2]:
data_lenguage = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF LENGUAGE/df_Languages_Def.csv')
data_time = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF DURACION/df_duracion_Def.csv')
data_franquicia = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF FRANQUICIA/df_franquicia_Def.csv')
data_pais = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF PAIS/df_paises_Def.csv')
data_productoras = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF PRODUCTORAS EXITOSAS/df_prod_exitosas_Def.csv')
data_director= pd.read_csv("/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF DIRECTOR/df_directores_Def.csv")

In [7]:
data_franquicia.head()

,id,title,franquicia,revenue
0,862,Toy Story,Toy Story Collection,373554033.0
1,8844,Jumanji,Desconocida,262797249.0
2,15602,Grumpier Old Men,Grumpy Old Men Collection,0.0
3,31357,Waiting to Exhale,Desconocida,81452156.0
4,11862,Father of the Bride Part II,Father of the Bride Collection,76578911.0

In [8]:
data_time.head()

      id  runtime  release_year                        title
0    862       81          1995                    Toy Story
1   8844      104          1995                      Jumanji
2  15602      101          1995             Grumpier Old Men
3  31357      127          1995            Waiting to Exhale
4  11862      106          1995  Father of the Bride Part II

In [5]:
data_pais.head()

      id                        title              country_name
0    862                    Toy Story  United States of America
1   8844                      Jumanji  United States of America
2  15602             Grumpier Old Men  United States of America
3  31357            Waiting to Exhale  United States of America
4  11862  Father of the Bride Part II  United States of America

In [9]:
data_lenguage.head()

      id original_language                        title
0    862                en                    Toy Story
1   8844                en                      Jumanji
2  15602                en             Grumpier Old Men
3  31357                en            Waiting to Exhale
4  11862                en  Father of the Bride Part II

In [10]:
data_productoras.head()

      id                        title             name_companies    revenue
0    862                    Toy Story    Pixar Animation Studios  373554033
1   8844                      Jumanji           TriStar Pictures  262797249
2  15602             Grumpier Old Men               Teitler Film          0
3  31357            Waiting to Exhale  Interscope Communications   81452156
4  11862  Father of the Bride Part II               Warner Bros.   76578911

In [12]:
data_director.head()

,id,title,release_date,budget,revenue,return,Nombre Director
0,862,Toy Story,1995-10-30,30000000.0,373554033.0,12.451801,John Lasseter
1,8844,Jumanji,1995-12-15,65000000.0,262797249.0,4.043035,Joe Johnston
2,15602,Grumpier Old Men,1995-12-22,0.0,0.0,0.000000,Howard Deutch
3,31357,Waiting to Exhale,1995-12-22,16000000.0,81452156.0,5.090760,Forest Whitaker
4,11862,Father of the Bride Part II,1995-02-10,0.0,76578911.0,0.000000,Charles Shyer

In [14]:
Api_merged_data = pd.merge(data_lenguage, data_time, on="id", suffixes=("_lenguage", "_time"))
Api_merged_data = pd.merge(Api_merged_data, data_franquicia, on="id", suffixes=("", "_franquicia"))
Api_merged_data = pd.merge(Api_merged_data, data_pais, on="id", suffixes=("", "_pais"))
Api_merged_data = pd.merge(Api_merged_data, data_productoras, on="id", suffixes=("", "_productoras"))
Api_merged_data = pd.merge(Api_merged_data, data_director, on="id", suffixes=("", "_director"))

In [15]:
Api_merged_data.head()

,id,original_language,title_lenguage,runtime,release_year,title_time,title,franquicia,revenue,title_pais,country_name,title_productoras,name_companies,revenue_productoras,title_director,release_date,budget,revenue_director,return,Nombre Director
0,862,en,Toy Story,81,1995,Toy Story,Toy Story,Toy Story Collection,373554033.0,Toy Story,United States of America,Toy Story,Pixar Animation Studios,373554033,Toy Story,1995-10-30,30000000.0,373554033.0,12.451801,John Lasseter
1,8844,en,Jumanji,104,1995,Jumanji,Jumanji,Desconocida,262797249.0,Jumanji,United States of America,Jumanji,TriStar Pictures,262797249,Jumanji,1995-12-15,65000000.0,262797249.0,4.043035,Joe Johnston
2,15602,en,Grumpier Old Men,101,1995,Grumpier Old Men,Grumpier Old Men,Grumpy Old Men Collection,0.0,Grumpier Old Men,United States of America,Grumpier Old Men,Teitler Film,0,Grumpier Old Men,1995-12-22,0.0,0.0,0.000000,Howard Deutch
3,31357,en,Waiting to Exhale,127,1995,Waiting to Exhale,Waiting to Exhale,Desconocida,81452156.0,Waiting to Exhale,United States of America,Waiting to Exhale,Interscope Communications,81452156,Waiting to Exhale,1995-12-22,16000000.0,81452156.0,5.090760,Forest Whitaker
4,11862,en,Father of the Bride Part II,106,1995,Father of the Bride Part II,Father of the Bride Part II,Father of the Bride Collection,76578911.0,Father of the Bride Part II,United States of America,Father of the Bride Part II,Warner Bros.,76578911,Father of the Bride Part II,1995-02-10,0.0,76578911.0,0.000000,Charles Shyer

In [16]:
# Guardar el DataFrame en un archivo CSV
Api = 'Api_merged_data.csv'
Api_merged_data.to_csv(Api, index=False)

print(f"El DataFrame ha sido guardado en el archivo '{Api}'")

El DataFrame ha sido guardado en el archivo 'Api_merged_data.csv'