In [3]:
pip install pandas

Collecting pandas
  Obtaining dependency information for pandas from https://files.pythonhosted.org/packages/4a/f6/f620ca62365d83e663a255a41b08d2fc2eaf304e0b8b21bb6d62a7390fe3/pandas-2.0.3-cp310-cp310-macosx_11_0_arm64.whl.metadata
  Downloading pandas-2.0.3-cp310-cp310-macosx_11_0_arm64.whl.metadata (18 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/benjaminzelaya/Library/Python/3.10/lib/python/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 66.1 kB/s eta 0:00:0000:0100:01
Collecting tzdata>=2022.1 (from pandas)
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Collecting numpy>=1.21.0 (from pandas)
  Obtaining dependency information for numpy>=1.21.0 from https://files.pythonhosted.org/packages/c3/ea/1d95b399078ecaa7b5d791e1fdbb3aee272077d9fd5fb499593c87dec5ea/numpy-1.25.2-cp310-cp310-macosx_11_0_arm64.whl.metadata
  Downloading numpy-1.25.2-cp310-cp310-macosx_11_0_arm64.whl.metadata (5.6 kB)
Requirement already satisfied: six>=1.5 in /Users/benjaminzelaya/Library/Python/3.10/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.0.3-cp310-cp310-macosx_11_0_arm64.whl (10.8 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 332.8 kB/s eta 0:00:0000:0100:01
Downloading numpy-1.25.2-cp310-cp310-macosx_11_0_arm64.whl (14.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 377.5 kB/s eta 0:00:0000:0100:01
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.2 pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np

In [5]:
data_lenguage = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF LENGUAGE/df_Languages_Def.csv')
data_time = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF DURACION/df_duracion_Def.csv')
data_franquicia = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF FRANQUICIA/df_franquicia_Def.csv')
data_pais = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF PAIS/df_paises_Def.csv')
data_productoras = pd.read_csv('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF PRODUCTORAS EXITOSAS/df_prod_exitosas_Def.csv')
data_director= pd.read_csv("/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/DEF API/DEF DIRECTOR/df_directores_Def.csv")

In [6]:
data_franquicia.head()

,id,title,franquicia,revenue
0,862,Toy Story,Toy Story Collection,373554033.0
1,8844,Jumanji,Desconocida,262797249.0
2,15602,Grumpier Old Men,Grumpy Old Men Collection,0.0
3,31357,Waiting to Exhale,Desconocida,81452156.0
4,11862,Father of the Bride Part II,Father of the Bride Collection,76578911.0

In [7]:
data_time.head()

      id  runtime  release_year                        title
0    862       81          1995                    Toy Story
1   8844      104          1995                      Jumanji
2  15602      101          1995             Grumpier Old Men
3  31357      127          1995            Waiting to Exhale
4  11862      106          1995  Father of the Bride Part II

In [5]:
data_pais.head()

      id                        title              country_name
0    862                    Toy Story  United States of America
1   8844                      Jumanji  United States of America
2  15602             Grumpier Old Men  United States of America
3  31357            Waiting to Exhale  United States of America
4  11862  Father of the Bride Part II  United States of America

In [6]:
data_lenguage.head()

      id original_language                        title
0    862                en                    Toy Story
1   8844                en                      Jumanji
2  15602                en             Grumpier Old Men
3  31357                en            Waiting to Exhale
4  11862                en  Father of the Bride Part II

In [30]:
data_lenguage['original_language'].unique().tolist()

['en',
 'fr',
 'zh',
 'it',
 'fa',
 'nl',
 'de',
 'cn',
 'ar',
 'es',
 'ru',
 'sv',
 'ja',
 'ko',
 'sr',
 'bn',
 'he',
 'pt',
 'wo',
 'ro',
 'hu',
 'cy',
 'vi',
 'cs',
 'da',
 'no',
 'nb',
 'pl',
 'el',
 'sh',
 'xx',
 'mk',
 'bo',
 'ca',
 'fi',
 'th',
 'sk',
 'bs',
 'hi',
 'tr',
 'is',
 'ps',
 'ab',
 'eo',
 'ka',
 'mn',
 'bm',
 'zu',
 'uk',
 'af',
 'la',
 'et',
 'ku',
 'fy',
 'lv',
 'ta',
 'sl',
 'tl',
 'ur',
 'rw',
 'id',
 'bg',
 'mr',
 'lt',
 'kk',
 'ms',
 'sq',
 nan,
 'qu',
 'te',
 'am',
 'jv',
 'tg',
 'ml',
 'hr',
 'lo',
 'ay',
 'kn',
 'eu',
 'ne',
 'pa',
 'ky',
 'gl',
 'uz',
 'sm',
 'mt',
 'hy',
 'iu',
 'lb',
 'si']

In [7]:
data_productoras.head()

      id                        title             name_companies    revenue
0    862                    Toy Story    Pixar Animation Studios  373554033
1   8844                      Jumanji           TriStar Pictures  262797249
2  15602             Grumpier Old Men               Teitler Film          0
3  31357            Waiting to Exhale  Interscope Communications   81452156
4  11862  Father of the Bride Part II               Warner Bros.   76578911

In [8]:
data_director.head()

,id,title,release_date,budget,revenue,return,Nombre Director
0,862,Toy Story,1995-10-30,30000000.0,373554033.0,12.451801,John Lasseter
1,8844,Jumanji,1995-12-15,65000000.0,262797249.0,4.043035,Joe Johnston
2,15602,Grumpier Old Men,1995-12-22,0.0,0.0,0.000000,Howard Deutch
3,31357,Waiting to Exhale,1995-12-22,16000000.0,81452156.0,5.090760,Forest Whitaker
4,11862,Father of the Bride Part II,1995-02-10,0.0,76578911.0,0.000000,Charles Shyer

In [8]:
Api_merged_data = pd.merge(data_lenguage, data_time, on="id", suffixes=("_lenguage", "_time"))
Api_merged_data = pd.merge(Api_merged_data, data_franquicia, on="id", suffixes=("", "_franquicia"))
Api_merged_data = pd.merge(Api_merged_data, data_pais, on="id", suffixes=("", "_pais"))
Api_merged_data = pd.merge(Api_merged_data, data_productoras, on="id", suffixes=("", "_productoras"))
Api_merged_data = pd.merge(Api_merged_data, data_director, on="id", suffixes=("", "_director"))

In [10]:
Api_merged_data.shape

(381453, 20)

In [11]:
Api_merged_data = Api_merged_data.drop_duplicates()

In [12]:
Api_merged_data.shape

(15598, 20)

0    False
Name: original_language, dtype: bool

In [13]:
# Guardar el DataFrame en un archivo CSV
Api = 'Api_merged_data.csv'
Api_merged_data.to_csv(Api, index=False)

print(f"El DataFrame ha sido guardado en el archivo '{Api}'")

El DataFrame ha sido guardado en el archivo 'Api_merged_data.csv'

In [12]:
import os

# Obtener la lista de archivos en la ubicación actual
files_in_directory = os.listdir('/Users/benjaminzelaya/Desktop/ML_Proyecto_Individual_Henry/')

# Imprimir la lista de archivos
print(files_in_directory)

['index.html', '.DS_Store', 'requirements.txt', 'bin', 'Sist. Recomendacion de Peliculas - Machine Learning', 'pyvenv.cfg', 'ETL - EDA', 'mypy.ini.rtf', '__pycache__', 'README.md', 'Api_merged_data.csv', '.mypy_cache', '.gitignore', 'FASTAPI', 'lib', 'Datasets Sin Modificar', 'venv', '.git', 'main.py', 'DEF API']